.add-form {
    margin: 5vh;
    border: 2px;
    border-radius: 1%;
    border-color: lightgray;
    background-color: gray;
    border-style: solid;
    font-family: 'Source Sans Pro', sans-serif;
}